.feature-img {
    box-sizing: content-box;
    text-align: center;
    padding: 20%;
}
/* Member animation */
@media only screen  and (max-width : 600px){
    .card {
        border-radius: 5%;
        width: 50%;
        height: 100%;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
    }
}
@media only screen  and (min-width : 601px) and (max-width : 900px){
    .card {
        border-radius: 4%;
        width: 50%;
        height: 100%;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
    }
}
    
@media only screen  and (min-width : 901px) and (max-width : 1200px){
    .card {
        border-radius: 3%;
        width: 50%;
        height: 100%;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
    }
}
@media only screen  and (min-width : 1201px) and (max-width : 1500px){
    .card {
        border-radius: 2%;
        width: 40%;
        height: 100%;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
    }
}

@media only screen  and (min-width : 1501px) {
    .card {
        border-radius: 2%;
        width: 50%;
        height: 100%;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
    }
}

.card-image{
    border-radius: 50%;
}
   
.card-info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: transform .2s ease, opacity .2s ease;
}
    
/*Card footer*/
.card-social {
transform: translateY(200%);
display: flex;
justify-content: center;
width: 100%;
opacity: 0;
transition: transform .2s ease, opacity .2s ease;
}

.card-social__item {
list-style: none;
margin: 0 5px;
}

.card-social__item svg {
display: block;
height: 18px;
width: 18px;
fill: rgb(96, 96, 96);
cursor: pointer;
transition: fill 0.2s ease ,transform 0.2s ease;
}

/*Text*/
.card-title {
text-align: center;
color: #232323;
opacity: 0.9;
font-size: 1.5em;
font-weight: 700;
line-height: 2rem;
}

.card-subtitle {
text-align: center;
color: rgb(96, 96, 96);
font-size: 0.8em;
opacity: 0;
}

/*Hover*/
.card:hover {
    box-shadow: 0 8px 50px #0d0c0c33;
    background-color: #f5f2ef;
}
.card:hover .card-info {
transform: translateY(-5%);
}

.card:hover .card-subtitle {
    /* transform: translateY(100%); */
    opacity: 1;
}

.card:hover .card-social {
transform: translateY(100%);
opacity: 1;
}

.card-social__item svg:hover {
fill: #232323;
transform: scale(1.1);

}